
h1 {
  color: rgb(55, 16, 170); 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3 {
  font-family: verdana;
}
body {
  background-color: rgb(208, 222, 249);size: 1; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  margin:15px; 
  padding:10px; 
  margin-top:15px;
}
.piccola { 
  height: 220px; 
  float: left; 
  margin-right: 30px;
}
.media { 
  height: 300px; 
  float: right; 
  margin-left: 30px;
}
.grandesx { 
  height: 400px; 
  float: left; 
}
.grandedx { 
  height: 400px; float: right; 
}
.grande {
  height: 400px;
}
a{
  color: rgb(55, 16, 170);
}
.menu {
  font-size: 16 px;
  width: 200px;
  list-style: none;
}
.link {
  background-color: rgb(57, 106, 220);
  color: white;
  text-decoration: none;
  display: block;
  padding: 12px; 
  margin: 2px ;
}

